.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 40px;
  align-items: center;
  max-width: 1200px;
  margin: 10px auto;
}

.link {
  color:blue;
}

.link:hover {
  color: white;
}

/* MEDIA QUERIES */

/* tablets */
@media screen and (max-width: 700px) {
  .about {
    display: block;
  }
  .text {
    margin: 20px;
  }
}
