html, body {
    height: 100%;
    margin: 0;
}

.container {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    border: solid 2px pink;
    overflow: auto;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}

.header-link {
    text-decoration: none;
    color: gray;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 2px blue;
}

.heading {
    color: purple;
    display: flex;
    justify-content: center;
}

main {
    border: solid 2px red;
    height: 100%;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

footer {
    border: solid 2px black;
    display: flex;
    justify-content: center;
}
